@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800");
body {
  font-family: 'Work Sans', sans-serif; }

a {
  cursor: pointer; }

nav {
  box-shadow: none;
  background-color: transparent; }
  nav .nav-wrapper {
    width: 70%;
    margin: 0 auto; }
  nav .brand-logo {
    margin-top: 8px; }

@-webkit-keyframes navColor {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-moz-keyframes navColor {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-o-keyframes navColor {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@keyframes navColor {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-webkit-keyframes navHeight {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@-moz-keyframes navHeight {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@-o-keyframes navHeight {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@keyframes navHeight {
  from {
    height: 0px; }
  to {
    height: 60px; } }
.navDown {
  height: 60px;
  background-color: #fff;
  -webkit-animation: navHeight 0.3s ease;
  -moz-animation: navHeight 0.3s ease;
  animation: navHeight 0.3s ease;
  -webkit-animation: navColor 0.3s ease;
  -moz-animation: navColor 0.3s ease;
  animation: navColor 0.3s ease; }

@-webkit-keyframes menuColor-in {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-moz-keyframes menuColor-in {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-o-keyframes menuColor-in {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@keyframes menuColor-in {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-webkit-keyframes textColor-in {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@-moz-keyframes textColor-in {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@-o-keyframes textColor-in {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@keyframes textColor-in {
  from {
    color: transparent; }
  to {
    color: #fff; } }
.menu {
  display: block;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  -webkit-animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
  -moz-animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
  animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44); }
  .menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .menu li > a {
    -webkit-animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    -moz-animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    line-height: 1.1em;
    font-weight: 300; }
    .menu li > a:hover {
      color: #51a3fb; }
  .menu #menu_burger {
    float: right !important; }
    .menu #menu_burger img {
      transform: scale(1.8); }

.custom-button, .button-blue, .button-pink {
  width: 55%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 12px 0; }

.button-blue {
  background-color: #141d40;
  color: #ff00df; }

.button-pink {
  border: 1px solid #ff00df;
  color: #ff00df;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px; }

.inverse {
  background-color: #ff00df;
  color: #141d40; }

.icon-inbound:before {
  content: url("../images/icons/icon_inbound2X.png"); }

.icon-inbounddelivery:before {
  content: url("../images/icons/icon_inbounddelivery2X.png"); }

.icon-outbound:before {
  content: url("../images/icons/icon_outbound2X.png"); }

.icon-autoresponder:before {
  content: url("../images/icons/icon_autoresponders2X.png"); }

.icon-campaigning:before {
  content: url("../images/icons/icon_campaignmngr2X.png"); }

.icon-compliance:before {
  content: url("../images/icons/icon_compliance2X.png"); }

.icon-listmanagement:before {
  content: url("../images/icons/icon_listmgmt2X.png"); }

.icon-networkinterconnect:before {
  content: url("../images/icons/icon_networkinterconnect2X.png"); }

.icon-restapi:before {
  content: url("../images/icons/icon_restapi2X.png"); }

.icon-sdksupport:before {
  content: url("../images/icons/icon_sdksupport_2X.png"); }

.icon-shortcodes:before {
  content: url("../images/icons/icon_shortcodes2X.png"); }

.icon-longcodes:before {
  content: url("../images/icons/icon_longcodes2X.png"); }

.icon-callforwarding:before {
  content: url("../images/icons/icon_callforwarding2X.png"); }

.icon-callrecording:before {
  content: url("../images/icons/icon_callrecording2X.png"); }

.icon-e911:before {
  content: url("../images/icons/icon_e9112X.png"); }

.icon-faxvoicemail:before {
  content: url("../images/icons/icon_faxvoicemail2X.png"); }

.icon-fullfeaturedapi:before {
  content: url("../images/icons/icon_fullfeaturedapi2X.png"); }

.icon-hdvoice:before {
  content: url("../images/icons/icon_hdvoice2X.png"); }

.icon-iot:before {
  content: url("../images/icons/icon_iot2X.png"); }

.icon-securetrunking:before {
  content: url("../images/icons/icon_securetrunking2X.png"); }

.icon-sms:before {
  content: url("../images/icons/icon_sms2X.png"); }

hr {
  color: #ccc;
  width: 35%;
  border-style: solid; }
  hr.vertical {
    width: 0.01%;
    height: 385px;
    background-color: #ccc;
    margin-top: -5%; }

img.background {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0; }

.slick-slide img {
  width: 90%;
  height: auto;
  margin: 0 auto; }

.slider-nav {
  text-align: center;
  color: #96bdff;
  font-size: 14px;
  cursor: pointer; }
  .slider-nav .slick-track {
    margin: 0 auto; }
  .slider-nav .slick-slide {
    height: 115px;
    line-height: 100px;
    margin-right: 10px;
    background-color: rgba(150, 189, 255, 0.1); }
    .slider-nav .slick-slide span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .slider-nav .slick-slide:focus {
      outline: none; }

.slider-for p:first-of-type {
  margin-top: 50px; }
.slider-for p {
  text-align: center;
  font-size: 12px; }
.slider-for ul {
  width: 50%;
  font-size: 12px;
  color: #fff;
  margin: 0 auto; }
.slider-for .slick-slide:focus {
  outline: none; }
.slider-for .slick-prev, .slider-for .slick-next {
  top: 25%;
  width: 55px;
  height: auto;
  transform: scale(0.5) translate(0, -25%); }
.slider-for .slick-prev:before {
  content: url("../images/platform/arrow_left.png"); }
.slider-for .slick-next:before {
  content: url("../images/platform/arrow_right.png"); }

.pane-one, .pane-two, .pane-three {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
  padding: 50px 0; }

.pane-one {
  background: url("../images/home/Apeiron_Home_Pane1.png") no-repeat top center;
  padding-top: 0px;
  background-size: cover; }
  .pane-one .container {
    position: relative;
    margin-top: 10%;
    z-index: 10; }
  .pane-one p {
    font-weight: 300;
    font-size: 20px;
    margin: 20px 0 10px; }
    .pane-one p.home-blue {
      color: #141d40;
      font-weight: 400;
      margin: 35px 0; }
  .pane-one h1 {
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 120%;
    margin: 0 0 1.68rem; }
  .pane-one p,
  .pane-one h1 {
    color: #fff;
    text-transform: uppercase; }
  .pane-one span {
    color: #fff;
    border-bottom: 4px solid #141d40; }
  .pane-one .col.s8 {
    margin-top: 10%; }
  .pane-one #heli {
    position: absolute;
    top: 85px;
    left: 42%; }

.pane-two {
  background: url("../images/home/Apeiron_Home_Pane2.png") no-repeat top center;
  background-size: cover; }
  .pane-two h1, .pane-two h3, .pane-two .right-align p, .pane-two .center-align p {
    text-transform: uppercase; }
  .pane-two img {
    margin-top: 20%; }
  .pane-two h1 {
    color: #969696;
    font-weight: 200;
    font-size: 3.2rem; }
  .pane-two h3 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 10%; }
  .pane-two h4 {
    font-weight: 500;
    font-size: 1.1rem; }
  .pane-two .right-align p {
    font-weight: 600;
    font-size: 18px;
    color: #000; }
  .pane-two em {
    font-style: normal;
    color: #5e5e5e;
    font-size: 11px;
    font-weight: 500; }
    .pane-two em b {
      color: #000; }
  .pane-two .row:nth-child(2) {
    margin-bottom: 0px; }
  .pane-two .button-pink {
    width: 35%;
    margin: 1% 0;
    display: inline-block; }
  .pane-two .s12.m8 {
    border: 2px solid #ccc;
    padding: 3% 0 5%;
    margin-top: 28px;
    margin-bottom: 3%; }
  .pane-two .col.s12.m4.offset-m1 {
    text-align: right;
    font-weight: bold; }
    .pane-two .col.s12.m4.offset-m1 p {
      text-transform: uppercase; }

.pane-three {
  position: relative;
  background: url("../images/home/Apeiron_Home_Pane3.png") no-repeat top center;
  background-size: cover; }
  .pane-three .button-pink {
    margin: 30px auto; }
  .pane-three .row {
    padding-top: 50px; }
  .pane-three h2, .pane-three .s12 p:last-child {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300; }
  .pane-three h2 {
    font-size: 1.56rem; }
  .pane-three p {
    color: #96bdff;
    font-size: 13px;
    font-weight: 500; }
  .pane-three .m4 {
    position: relative; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before, .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    display: inline-block;
    position: absolute;
    top: -75px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    content: url("../images/home/home_icon_voice2X.png");
    left: 0; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    content: url("../images/home/home_icon_messaging2X.png");
    left: -40px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    display: inline-block;
    position: absolute;
    content: url("../images/home/home_icon_platform2X.png");
    top: -75px;
    left: -25px; }
  .pane-three .row:last-child {
    margin-bottom: 0px; }
  .pane-three .s12 p:last-child {
    font-size: 15px;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 65px; }
  .pane-three #astro {
    position: absolute;
    bottom: 350px;
    right: 0;
    width: 500px; }

.page-rapper {
  background: linear-gradient(to bottom, #52a4fd, #162145 35%); }
  .page-rapper .container:first-child {
    margin-bottom: 50px; }
  .page-rapper .slider-nav .slick-current.slick-active {
    background-image: url("../images/platform/PlatformPage_PinkOutline.png");
    display: block;
    background-size: 100% 130px;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    height: 130px;
    background-color: transparent; }
  .page-rapper.voice th:nth-child(2) {
    width: 30%; }
  .page-rapper.voice img.responsive-img {
    margin-bottom: 50px; }
  .page-rapper img.free {
    max-width: 100%;
    max-height: 145%;
    position: absolute;
    bottom: 0;
    right: 18%;
    top: -20%; }
  .page-rapper h1, .page-rapper h2, .page-rapper h3, .page-rapper h4, .page-rapper h5, .page-rapper p, .page-rapper .m4 p, .page-rapper .m10 > p, .page-rapper tr > td:first-of-type {
    color: #fff; }
  .page-rapper h1, .page-rapper h2, .page-rapper h3, .page-rapper h4, .page-rapper h5 {
    text-transform: uppercase;
    font-weight: 200; }
  .page-rapper.platform .container {
    position: relative; }
  .page-rapper.platform .container > .row + .row {
    margin-bottom: 0px; }
  .page-rapper .features {
    position: relative; }
    .page-rapper .features p {
      text-align: center;
      color: #96bdff;
      font-size: 12px;
      cursor: pointer; }
      .page-rapper .features p::after {
        content: url("../images/voice/arrow_down.png");
        display: block; }
      .page-rapper .features p.up::after {
        content: url("../images/voice/arrow_up.png"); }
    .page-rapper .features .icon {
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
      display: block;
      position: relative; }
    .page-rapper .features + .container > .row {
      padding-bottom: 20px;
      margin-bottom: 0px; }
  .page-rapper h1 {
    font-size: 5.7rem; }
  .page-rapper h2 {
    color: #ff00df;
    font-weight: 300;
    font-size: 1.33rem;
    margin: 0; }
  .page-rapper h4 {
    text-transform: none;
    font-weight: 400;
    font-size: .9rem; }
  .page-rapper h5 {
    font-weight: 600;
    font-size: 1.24rem; }
  .page-rapper hr {
    width: 28%; }
    .page-rapper hr.vertical {
      width: 0.001%;
      height: 115px; }
  .page-rapper table {
    position: relative; }
  .page-rapper thead {
    background-color: #51a3fb; }
  .page-rapper td, .page-rapper th {
    padding: 10px 5px 10px 35px; }
  .page-rapper th {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px; }
  .page-rapper th:nth-child(3), .page-rapper th:nth-child(4) {
    color: #fff; }
  .page-rapper td {
    font-size: 12px; }
    .page-rapper td.intl-box {
      position: absolute;
      background-color: #162145;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 0px; }
  .page-rapper tr:nth-child(3) td:nth-child(7).intl-box {
    bottom: 18%;
    right: 24%; }
  .page-rapper tr:nth-child(2) td:nth-child(7).intl-box {
    bottom: 18%;
    right: 7.3%; }
  .page-rapper tr:first-of-type > td:nth-of-type(3) {
    position: relative; }
  .page-rapper tr > td {
    color: #96bdff;
    font-weight: 600; }
  .page-rapper tr td:nth-of-type(3) > span {
    color: #ff00df; }
  .page-rapper table.bordered > thead > tr, .page-rapper table.bordered > tbody > tr {
    border-bottom: 1px solid #454d6a; }
  .page-rapper .m4 {
    position: relative; }
    .page-rapper .m4 p {
      font-size: 12px;
      margin: 0;
      font-weight: 200; }
  .page-rapper.voice .m4 .icon, .page-rapper.messaging .m4 .icon {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    display: inline-block;
    position: absolute; }
    .page-rapper.voice .m4 .icon.icon-inbound, .page-rapper.messaging .m4 .icon.icon-inbound {
      top: -40px;
      left: -125px; }
    .page-rapper.voice .m4 .icon.icon-outbound, .page-rapper.messaging .m4 .icon.icon-outbound {
      top: -60px;
      right: -155px; }
  .page-rapper.messaging .m4 .icon.icon-outbound {
    top: -50px; }
  .page-rapper .m10 > p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.8; }
  .page-rapper .button {
    text-align: right; }
  .page-rapper .button-blue {
    display: inline-block;
    width: 90%;
    margin-top: 10%; }
  .page-rapper .button-pink {
    width: 100%;
    font-weight: 600; }
  .page-rapper .features a {
    cursor: pointer; }

footer p {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: #162145; }
footer .row {
  margin-bottom: 0px; }

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    transform: none; } }
@media (max-width: 780px) {
  .pane-three #astro {
    width: 400px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    left: -25px; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    left: -70px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    left: -50px; } }
@media only screen and (max-width: 600px) {
  .slider-for .slick-prev, .slider-for .slick-next {
    top: 55%;
    width: 55px;
    height: auto;
    transform: scale(0.3) translate(0, -25%); }

  .slick-next {
    right: -22px; }

  .slick-prev {
    left: -22px; }

  .brand-logo img {
    width: 70%; }

  .pane-one h1 {
    font-size: 2.0rem; }
  .pane-one .button-blue {
    width: 100%; }

  .pane-two img {
    margin-top: 0; }
  .pane-two .col.s12.m4.offset-m1 {
    text-align: left; }

  .pane-three .row {
    padding-top: 0px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    left: 65px; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    left: 25px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    left: 40px; }
  .pane-three #astro {
    display: none; }

  .page-rapper h1 {
    font-size: 3.7rem; }
  .page-rapper .col.s12.m4 {
    text-align: center; }
  .page-rapper img.free {
    right: 8%; }
  .page-rapper.voice th:nth-child(2) {
    width: 15%; }
  .page-rapper .m4 .icon.icon-inbound, .page-rapper .m4 .icon.icon-outbound {
    display: none; }
  .page-rapper .icon-outbound + h2 {
    margin-top: 25px; }

  nav .nav-wrapper {
    width: 90%; }

  .menu li > a {
    font-size: 38px; } }
@media (max-width: 420px) {
  .pane-three .pane-three .row:first-of-type .m4:first-of-type h2:before, .pane-three .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    top: -70px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    left: 15px; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    left: -25px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    left: -10px; }

  .pane-one #heli {
    top: 50px;
    left: 55%;
    width: 30%; } }

/*# sourceMappingURL=custom.css.map */
