@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800');
// Colors
$main-blue: #141d40;
$header-grey-text: #969696;
$content-grey-text: #5e5e5e;
$secondary-dark-blue: #162145;
$black: #000;
$white: #fff;
$pink: #ff00df;
$light-blue: #96bdff;
$table-header: #51a3fb;
$table-thin-lines: #454d6a;
$grey-border:  1px solid #ccc;

// Mixins
@mixin after($content, $display, $height, $width, $color, $background-color) {
    content: $content;
    display: $display;
    height: $height;
    width: $width;
    color: $color;
    background-color: $background-color;
}

body {
    font-family: 'Work Sans', sans-serif;
}
// Nav
nav {
    box-shadow: none;
    background-color: transparent;
    .nav-wrapper {
        width: 70%;
        margin: 0 auto;
    }
    .brand-logo {
        margin-top: 15px;
    }
}
// Custom Button
.custom-button {
    width: 55%;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 12px 0;
}
.button-blue {
    @extend .custom-button;
    background-color: $main-blue;
    color: $pink;
}
.button-pink {
    @extend .custom-button;
    border: 1px solid $pink;
    color: $pink;
    display: block;
    margin: 0 auto;
    font-weight: 300;
    font-size: 12px;
}
// HR styling
hr {
    color: #ccc;
    width: 35%;
    border-style: solid;
    &.vertical {
        width: 0.01%;
        height: 385px;
        background-color: #ccc;
        margin-top: -5%;
    }
}
// Image Overlay
img.overlay {
    max-width: 100%;
    height: auto;
    position: absolute;
}
// Home Page Layout
.pane-one, .pane-two, .pane-three {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 100% 100%;
    height: 750px;
}
.pane-one {
    background: linear-gradient(to bottom, #ccdcfe, #53a6ff);
    p {
        font-weight: 300;
        font-size: 20px;
        margin: 20px 0 10px;
        &.home-blue {
            color: $main-blue;
            font-weight: 400;
            margin: 35px 0;
        }
    }
    h1 {
        font-weight: 700;
        font-size: 3.5rem;
        letter-spacing: 2px;
        line-height: 120%;
        margin: 0 0 1.68rem;
    }
    p,
    h1 {
        color: $white;
        text-transform: uppercase;
    }
    span {
        color: $white;
        border-bottom: 4px solid $main-blue;
    }
    .col.s8 {
        margin-top: 10%;
    }
}
.pane-two {
    background-color: $white;
    h1, h3, .right-align p, .center-align p  {
        text-transform: uppercase;
    }
    img {
        margin-top: 20%;
    }
    h1 {
        color: $header-grey-text;
        font-weight: 200;
        font-size: 3.2rem;
    }
    h3 {
        font-weight: 700;
        font-size: 1.8rem;
        margin-top: 10%;
    }
    h4 {
        font-weight: 500;
        font-size: 1.1rem;
    }
    .right-align p {
        font-weight: 600;
        font-size: 18px;
        color: $black;
    }
    em {
        font-style: normal;
        color: $content-grey-text;
        font-size: 11px;
        font-weight: 500;
        b {
            color: $black;
        }
    }
    .button-pink {
        width: 35%;
        margin: 1% 0;
        display: inline-block;
    }
    .s12.m8 {
        border: 2px solid #ccc;
        padding: 3% 0 5%;
        margin-top: -3.3%;
        margin-bottom: 3%;
    }
}
.pane-three {
    background-image: url("../images/home/Apeiron_Home_Pane3.png");
    background-repeat: no-repeat;
    .row {
        padding-top: 50px;
    }
    h2, .s12 p:last-child {
        text-transform: uppercase;
        color: $white;
        font-weight: 300;
    }
    h2 {
        font-size: 1.56rem;
    }
    p {
        color: $light-blue;
        font-size: 13px;
        font-weight: 500;
    }
    .s12 p:last-child {
        font-size: 15px;
        margin-top: 5%;
    }
}
// Vertical Line

.secondary-bg {
    background: linear-gradient(to bottom, #52a4fd, #162145);
    .features {
        p {
        text-align: center;
        color: $light-blue;
            &::after {
            content: url('../images/voice/arrow_down.png') ;
            display: block;
            }
            &.up::after {
            content: url('../images/voice/arrow_up.png');
            }
        }
    }
    h1 {
        color: $white;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 5.7rem;
    }
    hr {
        color: $white;
        width: 28%;
        &.vertical {
            width: 0.01%;
            height: 80px;
        }
    }
    .button-blue {
        display: inline-block;
        width: 90%;
        margin-top: 10%;
    }
}