@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800');
// Colors
$main-blue: #141d40;
$header-grey-text: #969696;
$content-grey-text: #5e5e5e;
$secondary-dark-blue: #162145;
$black: #000;
$white: #fff;
$pink: #ff00df;
$light-blue: #96bdff;
$table-header: #51a3fb;
$table-thin-lines: #454d6a;
$p-font-size: 12px;

// Mixins
@mixin after($content, $display, $height, $width, $color, $background-color) {
    content: $content;
    display: $display;
    height: $height;
    width: $width;
    color: $color;
    background-color: $background-color;
}

@mixin icon-transform($transform, $display: inline-block, $position: absolute) {
    transform: $transform;
    ms-transform: $transform; /* IE 9 */
    -webkit-transform: $transform; /* Chrome, Safari, Opera */
    -moz-transform: $transform;
    -o-transform: $transform;
    display: $display;
    position: $position;
}

body {
    font-family: 'Work Sans', sans-serif;
}
// Nav
nav {
    box-shadow: none;
    background-color: transparent;
    .nav-wrapper {
        width: 70%;
        margin: 0 auto;
    }
    .brand-logo {
        margin-top: 8px;
    }
}

// Nav Animation
@keyframes navColor {
    from {background-color: transparent;}
    to {background-color: #fff;}
}
@keyframes navHeight {
    from {height: 0px;}
    to {height: 70px;}
}
.navDown {
    height: 70px;
    background-color: #fff;
    animation: navHeight .3s ease;
    animations: navColor .3s ease;
}

// Menu Overlay
@keyframes menuColor-in {
    from {background-color: transparent;}
    to {background-color: rgba(0,0,0,0.9);}
}
@keyframes textColor-in {
    from {color: transparent;}
    to {color: #fff;}
}

.menu {
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    animation: menuColor-in .5s cubic-bezier(.81,.01,.24,.44);
    ul  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    a   {
        animation: textColor-in .5s cubic-bezier(.81,.01,.24,.44);
        text-transform: uppercase;
        color: #fff;
        font-size: 50px;
        cursor: pointer;
        line-height: 1.1em;
        font-weight: 900;
        &:hover {
            color: #51a3fb;
        }
    }
    #menu_burger    {
        position: absolute;
        right: 15%;
        top: -1.2%;
    }
}

// Custom Button
.custom-button {
    width: 55%;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 12px 0;
}
.button-blue {
    @extend .custom-button;
    background-color: $main-blue;
    color: $pink;
}
.button-pink {
    @extend .custom-button;
    border: 1px solid $pink;
    color: $pink;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 12px;
}
.inverse {
    background-color: $pink;
    color: $main-blue;
}
// Icons
.icon-inbound:before {
    content: url('../images/icons/icon_inbound2X.png');
}
.icon-inbounddelivery:before {
    content: url('../images/icons/icon_inbounddelivery2X.png');
}
.icon-outbound:before {
    content: url('../images/icons/icon_outbound2X.png');
}
.icon-autoresponder:before {
    content: url('../images/icons/icon_autoresponders2X.png');
}
.icon-campaigning:before {
    content: url('../images/icons/icon_campaignmngr2X.png');
}
.icon-compliance:before {
    content: url('../images/icons/icon_compliance2X.png');
}
.icon-listmanagement:before {
    content: url('../images/icons/icon_listmgmt2X.png');
}
.icon-networkinterconnect:before {
    content: url('../images/icons/icon_networkinterconnect2X.png');
}
.icon-restapi:before {
    content: url('../images/icons/icon_restapi2X.png');
}
.icon-sdksupport:before {
    content: url('../images/icons/icon_sdksupport_2X.png');
}
.icon-shortcodes:before {
    content: url('../images/icons/icon_shortcodes2X.png');
}
.icon-longcodes:before {
    content: url('../images/icons/icon_longcodes2X.png');
}
.icon-callforwarding:before {
    content: url('../images/icons/icon_callforwarding2X.png');
}
.icon-callrecording:before {
    content: url('../images/icons/icon_callrecording2X.png');
}
.icon-e911:before {
    content: url('../images/icons/icon_e9112X.png');
}
.icon-faxvoicemail:before {
    content: url('../images/icons/icon_faxvoicemail2X.png');
}
.icon-fullfeaturedapi:before {
    content: url('../images/icons/icon_fullfeaturedapi2X.png');
}
.icon-hdvoice:before {
    content: url('../images/icons/icon_hdvoice2X.png');
}
.icon-iot:before {
    content: url('../images/icons/icon_iot2X.png');
}
.icon-securetrunking:before {
    content: url('../images/icons/icon_securetrunking2X.png');
}
.icon-sms:before {
    content: url('../images/icons/icon_sms2X.png');
}

// HR styling
hr {
    color: #ccc;
    width: 35%;
    border-style: solid;
    &.vertical {
        width: 0.01%;
        height: 385px;
        background-color: #ccc;
        margin-top: -5%;
    }
}
// Image Overlay
img.background {
    width: 100%;
    height: auto;
    position: absolute;
}

// Slick Slider
.slick-slide img {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.slider-nav {
    text-align: center;
    color: $light-blue;
    font-size: 14px;
    cursor: pointer;

    .slick-track {
        margin: 0 auto;
    }
    .slick-slide {
        height: 115px;
        line-height: 100px;
        margin-right: 10px;
        background-color: rgba(150, 189, 255, 0.1);
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
        &:focus {
            outline: none;
        }
    }
}

.slider-for {
    p {
        text-align: center;
        font-size: 10px;
        margin-top: 50px;
    }
    .slick-prev, .slick-next {
        top: 25%;
        width: 55px;
        height: auto;
        transform: scale(0.5) translate(0, -25%);
    }
    .slick-prev:before {
        content: url('../images/platform/arrow_left.png');
    }
    .slick-next:before {
        content: url('../images/platform/arrow_right.png');
    }
}
// Home Page Layout
.pane-one, .pane-two, .pane-three {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 100% 100%;
    height: 850px;
}
.pane-one {
    background: linear-gradient(to bottom, #ccdcfe, #53a6ff);
    .container {
        margin-top: 10%;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        margin: 20px 0 10px;
        &.home-blue {
            color: $main-blue;
            font-weight: 400;
            margin: 35px 0;
        }
    }
    h1 {
        font-weight: 700;
        font-size: 3.5rem;
        letter-spacing: 2px;
        line-height: 120%;
        margin: 0 0 1.68rem;
    }
    p,
    h1 {
        color: $white;
        text-transform: uppercase;
    }
    span {
        color: $white;
        border-bottom: 4px solid $main-blue;
    }
    .col.s8 {
        margin-top: 10%;
    }
}
.pane-two {
    background-color: $white;
    h1, h3, .right-align p, .center-align p  {
        text-transform: uppercase;
    }
    img {
        margin-top: 20%;
    }
    h1 {
        color: $header-grey-text;
        font-weight: 200;
        font-size: 3.2rem;
    }
    h3 {
        font-weight: 700;
        font-size: 1.8rem;
        margin-top: 10%;
    }
    h4 {
        font-weight: 500;
        font-size: 1.1rem;
    }
    .right-align p {
        font-weight: 600;
        font-size: 18px;
        color: $black;
    }
    em {
        font-style: normal;
        color: $content-grey-text;
        font-size: 11px;
        font-weight: 500;
        b {
            color: $black;
        }
    }
    .button-pink {
        width: 35%;
        margin: 1% 0;
        display: inline-block;
    }
    .s12.m8 {
        border: 2px solid #ccc;
        padding: 3% 0 5%;
        margin-top: -3.3%;
        margin-bottom: 3%;
    }
     .col.s12.m4.offset-m1 {
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.pane-three {
    background-image: url("../images/home/Apeiron_Home_Pane3.png");
    background-repeat: no-repeat;
    .button-pink {
        margin: 30px auto;
    }
    .row {
        padding-top: 50px;
    }
    h2, .s12 p:last-child {
        text-transform: uppercase;
        color: $white;
        font-weight: 300;
    }
    h2 {
        font-size: 1.56rem;
    }
    p {
        color: $light-blue;
        font-size: 13px;
        font-weight: 500;
    }
    .m4 {
        position: relative;
    }
    .row:first-of-type .m4 {
        &:first-of-type h2:before, &:nth-of-type(2) h2:before {
            @include icon-transform(scale(0.4));
            top: -75px;
        }
        &:first-of-type h2:before {
            content: url('../images/home/home_icon_voice2X.png');
            left: 0;
        }
        &:nth-of-type(2) h2:before {
            content: url('../images/home/home_icon_messaging2X.png');
            left: -40px;
        }
    }
    .row:nth-of-type(2) .m4 {
        &:first-of-type h2:before {
            @include icon-transform(scale(0.4));
            content: url('../images/home/home_icon_platform2X.png');
            top: -75px;
            left: -25px;
        }
    }

    .s12 p:last-child {
        font-size: 15px;
        margin-top: 5%;
    }
}
.page-rapper {
    background: linear-gradient(to bottom, #52a4fd, #162145 35%);
    .slider-nav .slick-current.slick-active {
        background-image: url('../images/platform/PlatformPage_PinkOutline.png');
        display: block;
        background-size: 100% 130px;
        background-repeat: no-repeat;
        background-position: 60% 0px;
        height: 130px;
        background-color: transparent;
    }
    &.voice {
        th:nth-child(2) {
        width: 30%;
        }
    }
    img.free {
        max-width: 100%;
        max-height: 145%;
        position: absolute;
        bottom: 0;
        right: 18%;
        top: -20%;
    }
    h1, h2, h3, h4, h5, p, .m4 p, .m10 > p, tr > td:first-of-type {
        color: $white;
    }
    h1, h2, h3, h4, h5 {
        text-transform: uppercase;
        font-weight: 200;
    }
    .features {
        position: relative;
        p   {
            text-align: center;
            color: $light-blue;
            font-size: $p-font-size;
            cursor: pointer;
            &::after {
                content: url('../images/voice/arrow_down.png') ;
                display: block;
            }
            &.up::after {
                content: url('../images/voice/arrow_up.png');
            }
        }
        .icon {
            @include icon-transform(scale(0.4), block, relative);
        }
    }
    h1 {
        font-size: 5.7rem;
    }
    h2 {
        color: $pink;
        font-weight: 300;
        font-size: 1.33rem;
        margin: 0;
    }
    h4 {
        text-transform: none;
        font-weight: 400;
        font-size: .9rem;
    }
    h5 {
        font-weight: 600;
        font-size: 1.24rem;
    }
    hr {
        width: 28%;
        &.vertical {
            width: 0.001%;
            height: 115px;
        }
    }
    table {
        position: relative;
    }
    thead {
        background-color: $table-header;
    }
    td, th {
        padding: 10px 5px 10px 35px;
    }
    th {
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
    }
    th:nth-child(3), th:nth-child(4) {
        color: #fff;
    }
    td {
        font-size: $p-font-size;
        &.intl-box {
            position: absolute;
            background-color: #162145;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 0px;
        }
    }
    tr:nth-child(3) {
        td:nth-child(7).intl-box {
            bottom: 18%;
            right: 24%;
        }
    }
    tr:nth-child(2) {
        td:nth-child(7).intl-box {
            bottom: 18%;
            right: 7.3%;
        }
    }

    tr:first-of-type > td:nth-of-type(3) {
        position: relative;
    }
    tr > td {
        color: $light-blue;
        font-weight: 600;
    }
    tr td:nth-of-type(3) > span {
        color: $pink;
    }
    table.bordered > thead > tr, table.bordered > tbody > tr {
        border-bottom: 1px solid $table-thin-lines;
    }
    .m4 {
        position: relative;
        p {
            font-size: $p-font-size;
            margin: 0;
            font-weight: 200;
        }
    }
    &.voice .m4 {
        .icon {
            @include icon-transform(scale(0.5));
            &.icon-inbound {
                top: -35%;
                left: -45%;
            }
            &.icon-outbound {
                top: -70%;
                right: -57%;
            }
        }
    }
    &.messaging .m4 {
        .icon {
            @include icon-transform(scale(0.5));
            &.icon-inbound {
                bottom: 0;
                left: -47%;
            }
            &.icon-outbound {
                bottom: -10%;
                right: -60%;
            }
        }
    }

    .m10 > p {
        font-weight: 300;
        font-size: $p-font-size;
        line-height: 1.8
    }
    .button {
        text-align: right;
    }
    .button-blue {
        display: inline-block;
        width: 90%;
        margin-top: 10%;
    }
    .button-pink {
        width: 100%;
        font-weight: 600;
    }
    .features a {
        cursor: pointer;
    }
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        transform: none;
    }
}
@media (max-width: 600px) {
    .pane-one {
        h1 {
            font-size: 2.6rem;
        }
        .button-blue {
            width: 100%;
        }
    }
    .pane-two {
        img {
            margin-top: 0;
        }
        .col.s12.m4.offset-m1 {
            text-align: left;
        }
    }
    .page-rapper {
        h1 {
            font-size: 3.7rem;
        }
        .col.s12.m4 {
            text-align: center;
        }
        img.free {
            right: 8%;
        }
        &.voice {
            th:nth-child(2) {
            width: 30%;
            }
        }
    }
    nav {
        .nav-wrapper {
            width: 90%;
        }
    }
    .menu   {
        #menu_burger {
            right: 5%;
            top: -1.5%;
        }
    }
}
