$background-size: cover;

nav {
  box-shadow: none;
  background-color: transparent;
  .nav-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .brand-logo {
    margin-top: 15px;
  }
}
// Parallax
.parallax {
  z-index: 0;
  img {
    max-height: 100%;
    max-width: 100%;
    min-width: inherit;
    min-height: inherit;
  }
}
.parallax-container {
  height: 200px;
}
.bottom-bg {
  background: url("../images/home/bottom_bg.png") no-repeat;
  background-size: $background-size;
  position: relative;
  img.absolute {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.main-bg {
  background: url("../images/home/top_bg.png") no-repeat;
  background-size: $background-size;
}
.messaging-bg {
  background: url("../images/messaging/bg_gradient.png") no-repeat;
  background-size: $background-size;
}
.platform-bg {
  background: url("../images/platform/bg_gradient.png") no-repeat;
  background-size: $background-size;
}
.voice-bg {
  background: url("../images/voice/bg_gradient.png") no-repeat;
  background-size: $background-size;
}


